@keyframes moveAndRotate {
  0% {
    transform: translateY(0) translateX(0) rotate(10deg);
  }
  25% {
    transform: translateY(-25vh) translateX(25vw) rotate(20deg);
  }
  50% {
    transform: translateY(0) translateX(0) rotate(180deg);
  }
  75% {
    transform: translateY(25vh) translateX(-25vw) rotate(270deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(360deg);
  }
}

.rocket {
  display: inline-block;
  top: 20;
  position: fixed;
  animation: moveAndRotate 10s linear infinite;
}
